<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="false">
	<php>
		<const name="JTEST_REDIS_DSN" value="host=redis;port=6379;db=;auth=" />
		<const name="JTEST_MEMCACHED_DSN" value="host=memcached;port=11211" />
	</php>
	<testsuites>
		<testsuite name="Unit">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
